[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7.14"

[packages]
pendulum = "*"
earthengine-api = "*"
marshmallow = "==3.0.0b9"
marshmallow-oneofschema = {git = "https://github.com/francbartoli/marshmallow-oneofschema.git", editable = true}
stacpy = "*"
dask = {extras = ["complete"]}
pandas = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
cryptography = "*"
pyyaml = "*"
pytest = "*"
pytest-runner = "*"
ipython = "*"
pytest-pythonpath = "*"
"autopep8" = "*"
"doc8" = "*"

[pipenv]
allow_prereleases = true
