[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "==3.0.0b8"
stacpy = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
cryptography = "*"
pyyaml = "*"
pytest = "*"
pytest-runner = "*"
ipython = "*"
pytest-pythonpath = "*"
pystac = "*"

[pipenv]
allow_prereleases = true
